---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Body from '@components/Body.astro';
import Content from '@components/Content.astro';
import MastHead from '@components/MastHead.astro';
import CreatedWithSection from '@components/CreatedWithSection.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const posts = (await Astro.glob('./posts/*.{md,mdx}')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter?.pubDate ?? Date.now()).valueOf() -
    new Date(a.frontmatter?.pubDate ?? Date.now()).valueOf(),
);
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class='pt-[56px]'>
      <MastHead />
      <Content>
        <section>
          <p class='mb-8 indent-4'>
            As a developer, I spend a lot of time debugging and figuring out
            different things. As I learn new topics, it helps to share some of
            the knowledge to grasp the topics that I learn. On this website,
            you'll see some of the fun stuff I find along the way.
          </p>
        </section>
        <section>
          <ul class='grid grid-cols-1 md:grid-cols-2 gap-4'>
            {
              posts.map((post) => (
                <li class='text-center mb-4'>
                  <a href={post.url}>
                    <img
                      class='border border-slate-300 dark:border-slate-700 rounded-xl'
                      src={post.frontmatter.heroImage}
                      width={1440}
                      aspect-ratio={2}
                      alt='Thumbnail'
                    />
                    <div class='mt-3 text-xl font-semibold'>
                      {post.frontmatter.title}
                    </div>
                    <div class='opacity-70'>{post.frontmatter.description}</div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
        <CreatedWithSection />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
